body{
    margin: 0;
}
.main {
    background: #e0e6de;
    font-family: "Century Gothic";
}
.container {
    padding: 10px;
}
.cbx {
    padding: 5px;
}
.card {
    margin: 20px;
    padding: 20px;
    background: lemonchiffon;
}
.pictures_1 {
    position: relative;
}
.pic {
    height: 300px;
    width: 300px;
}
.category {
    color: darkcyan;
}
.name {
    font-weight: bold;
}
.small-text {
    display: none;
}
.cbx:checked ~ .container .card {
    display: inline-block;
    width: 25%;
}
.cbx:checked ~ .container .card .pictures {
    width: 100%;
    object-fit: cover;
    margin: auto;
}
.cbx:checked ~ .container .card .pictures_1 .pic {
    width: 100%;
    object-fit: cover;
    margin: auto;
    box-shadow: inset 6px 0 white;
}
.cbx:checked ~ .container .big-text {
    display: none;
}
.cbx:checked ~ .container .small-text {
    display: block;
}
.likes{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35px;
}
.popup {
    position: absolute;
    right: 55px;
    display: none;
    width: 80px;
    font-size: 12px;
    background-color: #dedcdc;
    bottom: 45px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
    box-shadow: 5px 5px 5px #636762;
}
.likes:hover ~ .popup {
    display: block;
}


