body{
    margin: 0;
}
.main {
    background: #e0e6de;
    font-family: "Century Gothic", serif;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(39,91,39,0.84)
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #295329;
}
.container {
    padding: 15px;
}
.card {
    margin-bottom: 20px;
    padding: 20px;
    background: lemonchiffon;
}
.pictures {
    position: relative;
}
.pic {
    height: 300px;
    width: 300px;
}
.category {
    color: darkcyan;
}
.name {
    font-weight: bold;
}
.small-text {
    display: none;
}
.likes{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 35px;
}
.popup {
    position: absolute;
    right: 55px;
    display: none;
    width: 80px;
    font-size: 12px;
    background-color: #dedcdc;
    bottom: 45px;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
    box-shadow: 5px 5px 5px #636762;
}
.likes:hover ~ .popup {
    display: block;
}





