body{
    margin: 0;
}
.main {
    background: #e0e6de;
    font-family: "Century Gothic";
}
.container {
    padding: 10px;
}
.cbx {
    padding: 5px;
}
.card {
    margin: 20px;
    padding: 20px;
    background: lemonchiffon;
}
.pictures {
    height: 300px;
    width: 300px;
}
.category {
    color: darkcyan;
}
.name {
    font-weight: bold;
}
.small-text {
    display: none;
}
.cbx:checked ~ .container .card {
    display: inline-block;
    width: 25%;
}
.cbx:checked ~ .container .card .pictures {
    width: 100%;
    object-fit: cover;
    margin: auto;
}
.cbx:checked ~ .container .big-text {
    display: none;
}
.cbx:checked ~ .container .small-text {
    display: block;
}

